{% load static %}
<body>
    <div class="contenedort">
        <div class="cimglg">
            <img src="../static/resources/img/logo.jpeg" width="300px" alt="Primera imagen">
        </div>
        <div class="textlg">
            <p>
                Descubre la experiencia perfecta de descanso y lujo en nuestro hotel. Reserva ahora y disfruta de tarifas exclusivas, atención personalizada y las mejores comodidades. ¡Haz de tu próxima escapada una experiencia inolvidable!
            </p>
        </div>
        
    </div>
</body>