<nav>
    <div class="wrapper">
      <div class="logo"><a href="#">Logo</a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="{% url 'Inicio' %}">Home</a></li>
        <li><a href="{% url 'contacto' %}">Contacto</a></li>
        <li><a href="{% url 'servicios' %}">Servicios</a></li>
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>