{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paquetes</title>
    <link rel="stylesheet" href="{% static 'resources/css/styles.css' %}">
</head>
<body>

    {% include 'Navbar.html' %}

<div class="body-text">
    
    <div class="ParentDiv">
        <h1>Paquetes</h1>
        <div class="card-container">
            {% for paquete in paq %}
            <div class="card">
                <div class="card-content">
                    <h2>{{ paquetes.Ciudad }}</h2>
                    <p>{{ paquetes.Nombre }}</p>
                    <p><strong>Precio:</strong> {{ paquetes.Precio|floatformat:"0" }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

</body>
</html>