<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRINCIPAL</title>
    <link rel="stylesheet" href="../static/resources/css/style.css">
<nav>
    <a href="{% url 'home'}"><img class="logo" src="../static/resources/img/logo.jpeg" width="60px" alt="Primera imagen"></a>
    <div class="menu">
    <ul>
        <li><a href="{% url 'home'}">INICIO</a></li>
        <li><a href="{% url 'productos'}">PRODUCTO</a></li>
        <li><a href="{% url 'servicios'}">SERVICIOS</a></li>
        <li><a href="{% url 'contacto'}">CONTACTOS</a></li>
        <li><a href="">INGRESAR</a></li>
    </ul>
    </div>
</nav>
</head>
<body>
    <div class="contenedort">
        <div class="cimglg">
            <img src="../static/resources/img/logo.jpeg" width="350px" alt="Primera imagen">
        </div>
        <div class="textlg">
            <h2>
                "Descubre la experiencia perfecta de descanso y lujo en nuestro hotel. Reserva ahora y disfruta de tarifas exclusivas, atención personalizada y las mejores comodidades. ¡Haz de tu próxima escapada una experiencia inolvidable!"
            </h2>
        </div>

    </div>
</body>
</html>